/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-3{
    margin: 16px;
    width: 350px;
    border: 15px solid gold;
    border-radius: 12px;
    padding: 16px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.card-style-3 img {
    width: 100%;
    justify-content: center;
    margin: 1px;
    border: 5px solid goldenrod;
    background: linear-gradient(-50deg,  #ba9e12,  #f8e132,  #cc8b2a );
}
.card-style-3 .pokemon-header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}
.card-style-3 .pokemon-header h2 {
    margin: 0px;
}
.card-style-3 .pokemon-header .health {
    font-size: 18px;
}
.card-style-3 .details {
    margin-top: 4px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    border:#b5990f transparent;
    background: linear-gradient(to right, goldenrod, gold, goldenrod);
}
.card-style-3 .attack {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    margin: 8px 0px;
    border-bottom: 3px solid black;
}
.card-style-3 .description {
    font-size: 14px;
    margin: 0px 4px;
}
.bold {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.data {
    padding: 2px 8px;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid goldenrod ;
}
.power{
    font-weight: bold;
    font-size: 24px;
}
#pokemon-card-1, #pokemon-card-2 {
    background: linear-gradient(-25deg, lightgreen, forestgreen, #90ee90 )
}
#pokemon-card-3 {
    background: linear-gradient(-25deg, orange, orangered, orange);
}
#pokemon-card-4 {
    background: linear-gradient(-25deg, aqua, skyblue, aqua);
}
