/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-container{
    display:flex;
    margin: 40px auto;
    justify-content: center;
    gap: 20px;
    align-items:baseline;
    
}
.card-style-3{
    width: 350px;
    border: 15px solid #fdb21d;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: -4px 4px 12px rgb(37, 37, 35);
    background-color: #ffc70f;
}
.card-style-3 img {
    width: 300px;
    justify-content: center;
    margin: 1px;
    border: 5px solid rgba(194, 164, 44, 0.927);
    box-shadow: -4px 4px 12px rgb(143, 117, 11) ;
    background: linear-gradient(-50deg,  #ba9e12,  #f8e132,  #cc8b2a );
}
.pokemon-header {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}
.name {
    margin-bottom: 2px;
}
.health {
    margin-right: 6px;
}
.details {
    font-size: small;
    text-align: center;
    border:#b5990f transparent;
    background-color: #df8a0c94;
    background: linear-gradient(to right, #c38529b8, #f3d40b, #9d6b21b6);
}
.attack {
    display: flex;
    align-items: center;
    gap: 26px;
    margin: 20px auto;
    border-bottom: 3px solid black;
}
.bold {
    font-weight: bold;
    text-align: center;
}
.data {
    display: flex;
    text-align: center;
    font-size: x-small;
    font-weight: bold;
    border: 2px solid #a78e0f ;
}
.power{
    font-weight: bold;
    font-size: x-large;
}