* {
    box-sizing: border-box;
    gap: 1px;
    
}
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.light-container {
    background-color: rgb(45, 44, 44);
    margin: 0%;
}
#navbar {
    text-align: center;
    background-color: rgb(33, 33, 33);
    padding: 0px 0px 0px 0px;
}
#navbar-column {
    font-size: large;
    font-family:
        'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 211, 100);
}
#nav-2 h3 {
    color: rgb(255, 255, 255);
    font-style: italic;
    border: solid 3px crimson;
    border-radius: 60px ;
    box-sizing: border-box;
    font-size: smaller;
    text-align: left;
}
#three-columns {
    display: grid;
    grid-template-columns: 100px 900px 420px;
    margin: 50px;
}
#column-1 {
    margin: -7px;
    padding: 10px;
    
}
#column-2 {
    margin: 20px;
    border-radius: 10px;
    
}
#column-3 {
    color: rgb(255, 206, 107);
}
#condition {
    color: aliceblue;
}
#buttons {
    padding: 20px;
    margin: auto;
}
#buttons  {
    text-decoration: none;
    color: aliceblue;
}
#buttons a {
    text-decoration: none;
    color: aliceblue;
    border: solid rgb(255, 206, 107) ;
    border-radius: 20px;
    padding: 6px;
}