* {
    box-sizing: border-box;
    margin: 0px;
    padding: -1px;
}
body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}
.single-column{
    text-align: center;
    background-color: rgb(203, 4, 34);
    width: -1%;
    max-width: 1440px;
    margin: auto;
}
#navbar {
    background-color: #cacad5;
}
#navbar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 12px 12px 12px 0px;
    margin-left: 20px auto;
}
.light-container {
    background-color: #ededf3;
    padding: 40px 0px ;
    
}
.dark-container{
    background-color: rgb(186, 189, 186);
    color: white;
    padding: 48px 0px;
}
#navbar-2{
    text-align: center;
    color: black;
    font-size: larger;
}
#navbar-2 a {
    color: black;
    font-size: larger;
}