/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
img {
    width: 100%;
    object-fit: cover;
}

#poster-1 {
    border: 10px outset rgb(188, 44, 63);
    margin: 70px 12px 0px;
    box-shadow: -2px 2px 12px #000000cb;
}
#poster-1 div {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    box-shadow: inset -1px 1px 2px #89878755;
}
#poster-1 img {
    width: 100px;
    display: block;
}

#poster-2 {
    border: 10px inset rgba(175, 134, 53, 0.771);
    margin: 8px 12px 0px;
    box-shadow: -2px 2px 12px #14141455;
    border-radius: 450px;
}
#poster-2 div {
    background-color: rgb(46, 47, 48);
    padding: 4px;
    box-shadow: inset -2px 3px 2px #161616af;
    border-radius: 40px;
}
#poster-2 {
    width: 85px;
    display: block;
    font-family:
        'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 
        Arial, sans-serif;
    color: rgba(191, 153, 103, 0.808);
}
#poster-3 {
    border: 10px inset rgb(110, 162, 234);
    margin: 70px 12px 0px;
    box-shadow: -2px 2px 12px #00000055;
}
#poster-3 div {
    background-color: rgb(133, 133, 133);
    padding: 3px;
    box-shadow: inset -3px 2px 2px #00000055;
}
#poster-3 img {
    width: 100px;
    display: block;
}
.display-space {
    margin: 20px;
}
