* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-1 {
    height: 100vh;
    background-image: url("../images/shoes2.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 100px;
}
#hero-1 h2 {
    font-size: 120px;
    position: absolute;
    left: 5%;
    top: -2%;
    color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#hero-2 {
    background-image: url("../images/lake.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
    position: relative;
}
#hero-2 h1 {
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 30px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#hero-2 a {
    font-size: 20px;
    display: inline-block;
    background-color: rgb(28, 27, 27);
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top: 36px;
    margin-left: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#hero-2 h3 {
    font-size: 25px;
    position: absolute;
    top: 200px;
    left: 30px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#hero-3 {
    background-image: url("../images/fall.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
    position: relative;
}
#hero-3 .hero-content {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 250px;
}
#hero-3 h1 {
    font-size: 55px;
    margin-bottom: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hero-3 h4 {
    font-size: 24px;
    margin: opx;
}
#hero-3 a {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: rgb(251, 191, 40);
    color: rgb(11, 11, 11);
    text-decoration: none;
    padding: 25px;
    margin-top: 36px;
    margin-right: 25px;
}