#hero {
    background-image: url("../images/urban-hi-res-1ui7.jpg");
    background-size: cover;
    height:80vh;
    background-position: center center;
    position: relative;
    margin-bottom: 100px;
}
#hero .hero-content {
    color: rgb(217, 102, 255);
    text-align: center;
    padding-top: 250px;
}
#hero h1 {
    font-size: 55px;
    margin-bottom: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hero a {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: rgb(249, 249, 249);
    color: rgb(11, 11, 11);
    text-decoration: none;
    padding: 25px;
    margin-top: 36px;
    margin-right: 25px;
    transition: background-color 0.5s, color 1s,;
}
#hero a:hover {
    background-color: transparent;
    color: rgb(255, 207, 75);
}
h3 {
    text-align: center;
    font-size: 50px;
    color: rgb(246, 185, 100);
}
a {
    text-align: center;
    text-decoration: none;
    color: black;
}
.horizontal-masonry-Gallery {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: 5px solid rgb(145, 78, 228);
}
.horizontal-masonry-Gallery img {
    height: 350px;
    flex: 1;
    object-fit: cover;
}