@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Shrikhand&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: lobster;
}
#hero {
    background-image: url("../images/urban-hi-res-1ui7.jpg");
    background-size: cover;
    height: 80vh;
    background-position: center center;
    position: relative;
    margin-bottom: 100px;
}
#hero .hero-content {
    color: rgb(255, 214, 125);
    text-align: center;
    padding-top: 250px;
}
#hero h1 {
    font-size: 55px;
    margin-bottom: 36px;
}
.hero-content a {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: rgba(249, 249, 249, 0.556);
    border: 3px solid rgba(0, 0, 0, 0.566);
    color: rgb(11, 11, 11);
    text-decoration: none;
    padding: 25px;
    margin-top: 36px;
    margin-right: 25px;
    transition: opacity 1s, color 1s;
    
}
.hero-content a:hover {
    background-color: transparent;
    font-size: x-large;
    border: 0px;
    color: rgb(255, 207, 75);
}
h3 {
    text-align: center;
    font-size: 50px;
    color: rgb(246, 185, 100);
    transition: color 0.5s;
    margin-bottom: auto;
}
h3:hover {
    font-size: 60px;
    color: black;
}
a {
    text-align: center;
    text-decoration: none;
    color: black;
}
.horizontal-masonry-Gallery {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgb(21, 21, 21);
    border: #ffffff solid 5px;
}
.horizontal-masonry-Gallery img {
    height: 350px;
    flex: 1;
    object-fit: cover;
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
#card-section {
    background-color: #121213;
    color: #bffff5;
    padding: 58px;
    margin-top: 5px;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    border: 3px solid  #ffffff;
    padding: 9px;
    text-align: center;
    margin: 35px;
}
.card:hover {
    margin: 0px 20px;
    border: solid 6px white;
}
.card h3 {
    font-size: 36px;
    margin: 30px;
    color: rgb(253, 209, 86);
}
.card a {
    font-size: 24px;
    margin: 24px 0px opx;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: block;
    transition: opacity 1s, color 1s;

}
.card a:hover {
    background-color: transparent;
    font-size: x-large;
    border: 0px;
    color: rgb(255, 255, 255);
}
.parallax-banner {
    height: 30vh;
    margin: 100px 0px;
    background-image: url("../images/urban-hi-res-2nse.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}